/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
	background-size: cover;
	height: 100%;
    font-size: 100%;
	background:	#fff;
	font-family: 'Montserrat', sans-serif !important;
	font-color:#ffffff;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*-- banner --*/
.bg{
	background:url(../images/columbia-uni-camp.png);
	-webkit-filter: blur(3px);
	opacity:1.0;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	z-index: 1;
}


.banner{
	position: relative;
	z-index: 2;
}

.header{
	margin:2em 0 0;
}
.banner-left{
	float:left;
}
.banner-left a{
	font-size: 3em;
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
    display: block;
}
.banner-left a span {
    display: block;
    line-height: 16px;
    font-size: 0.7em;
    color: #00f482;
}
.banner-left a i {
    left: -5px;
    top: 8px;
}
.main-in{
	float:right;
}

button.navig {
    width: 50px;
    height: 50px;
    background: url(../images/menu.png) no-repeat;
    display: block;
    outline: none;
    border: 0;
    position: fixed;
    right: 10%;
    top: 5%;
    z-index: 9;
	margin: 2em 0 0;
}

.nav-wrap { overflow: hidden; margin: 0 0 0 200px; position: relative; left: 0; right: 50px; z-index: 2; }
@media only screen and (min-width: 768px) { .nav-wrap { left: auto; } }





#nav { float: right; margin-top: 20px; position: relative; right: -350px; text-align: right; -webkit-transition: right 0.5s ease-in-out; -moz-transition: right 0.5s ease-in-out; transition: right 0.5s ease-in-out; }
@media only screen and (min-width: 768px) { #nav { float: right; margin-top: 58px; } }
#nav.dark li a { color: #404040; }
#nav.show { right: 0; }
#nav li { float: none; margin-right: 0; list-style:none;}
@media only screen and (min-width: 768px) { #nav li { float: left; margin-right: 2em; } }
#nav li:last-child { margin-right: 0; }
#nav li a { color: #FFFFFF; font-family: 'Apercu', Helvetica, Arial, sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: 1px; font-size: 1.1em; }
.nav-wrap { overflow: hidden; position: relative; left: 0; z-index: 2; }
@media only screen and (min-width: 768px) { .nav-wrap { left: auto; } }








.menu {
    width: 31px;
    height: 28px;
    text-indent: -9999px;
    background: url("../images/menu.svg") center center no-repeat;
    float: right;
    margin-top: 30px;
    position: relative;
    z-index: 3;
    cursor: pointer;
    -webkit-transition: background-position 0.3s ease-in-out;
    -moz-transition: background-position 0.3s ease-in-out;
    -o-transition: background-position 0.3s ease-in-out;
    transition: background-position 0.3s ease-in-out;
}
element.style {
    display: none;
}
.nav .navig.hover {
    background-position: 31px center;
    background-position-x: 31px;
    background-position-y: 50%;
}

.banner-info{
	margin:5em 0 0;
}
.banner-info-left{
	width: 40%;
    float: none;
    padding: 2em;
    background: rgba(101, 118, 125, 0.77);
}
.banner-info h1{
	font-size:8em;
	color:#003153;
	margin:0 0 .5em;
	text-align:center;
	font-family: 'Montserrat Alternates', sans-serif;
}
.banner-info input[type="text"],.banner-info input[type="email"],.banner-info textarea{
	outline: none;
    border: none;
    color: #EEEBEB;
    background: rgba(255, 255, 255, 0.5);
	font-size:14px;
	padding:12px 10px;
	width:100%;
}
.banner-info input[type="text"]:nth-child(2){
	margin:.5em 0;
}
.banner-info textarea{
	margin:.5em 0;
	min-height:150px;
	resize:none;
}
.banner-info input[type="submit"]{
	background:#003153;
	font-size:16px;
	width:100%;
	padding:13px 0;
	outline:none;
	border:none;
	color:#fff;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	font-family: 'Montserrat Alternates', sans-serif;
}
.banner-info input[type="submit"]:hover{
	background:#3E4C52;
}
.banner-info-right{
	width: 40%;
    float: left;
    margin:15em 0 0 6em;
}
.banner-info-right h2{
	font-size:1.5em;
	text-transform:capitalize;
	color:#00F482;
	margin:0;
	font-family: 'Montserrat Alternates', sans-serif;
}
.banner-info-right p{
	color:#fff;
	font-size:14px;
	line-height:1.8em;
	margin:1em 0 2em;
}
.banner-info-right ul li{
	display:inline-block;
	margin: 0 10px 0 0;
}
.banner-info-right ul li a.facebook{
	background:url(../images/img-sp.png) no-repeat -11px -21px;
	display:block;
	height:24px;
	width:24px;
}
.banner-info-right ul li a.facebook:hover{
	background:url(../images/img-sp.png) no-repeat -46px -21px;
	display:block;
}
.banner-info-right ul li a.twitter{
	background:url(../images/img-sp.png) no-repeat -11px -60px;
	display:block;
	height:24px;
	width:24px;
}
.banner-info-right ul li a.twitter:hover{
	background:url(../images/img-sp.png) no-repeat -46px -60px;
	display:block;
}
.banner-info-right ul li a.p{
	background:url(../images/img-sp.png) no-repeat -11px -108px;
	display:block;
	height:24px;
	width:24px;
}
.banner-info-right ul li a.p:hover{
	background:url(../images/img-sp.png) no-repeat -48px -108px;
	display:block;
}
.banner-info-right ul li a.be{
	background:url(../images/img-sp.png) no-repeat -9px -151px;
	display:block;
	height:24px;
	width:24px;
}
.banner-info-right ul li a.be:hover{
	background:url(../images/img-sp.png) no-repeat -47px -151px;
	display:block;
}
/*-- //banner --*/
/*-- banner-bottom --*/
.banner-bottom,.services,.contact,.about,.what-we-do,.news,.customer,.team{
	padding:5em 0;
}
.banner-bottom h3,.services h3,.contact h3,.about h3,.what-we-do h3,.news h3,.customer h3,.team h3{
	text-align:center;
	font-size:2em;
	color:#00f482;
	margin:0;
	font-family: 'Montserrat Alternates', sans-serif;
}
p.fugiat{
	color:#999;
	font-size:14px;
	width:60%;
	margin:.5em auto 0;
	line-height:1.8em;
	text-align:center;
}
.banner-bottom h4{
	text-transform:uppercase;
	font-size:18px;
	color:#65767d;
	margin:1em 0 0em;
	text-align:center;
}
.banner-bottom-grid{
	margin:3em 0 0;
}
.banner-bottom-grid-right h5{
	font-size:1.5em;
	color:#65767d;
	text-transform:capitalize;
	margin:0 0 1em;
}
.banner-bottom-grid-right p{
	color:#999;
	font-size:14px;
	margin:0 0 1.5em;
	line-height:1.8em;
}
.more a{
	padding:10px 25px;
	background:#00f482;
	font-size:15px;
	color:#fff;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	font-family: 'Montserrat Alternates', sans-serif;
	text-decoration:none;
}
.more a:hover{
	background:#3E4C52;
}
.banner-b-left1{
	float:left;
	width:25%;
}
/*-- //banner-bottom --*/

@media (max-width:1366px){
	.banner-bottom{
		padding: 4em 0;
	}
}

@media (max-width:1280px){
	.banner-info {
		margin: 3em 0 0;
	}
	.banner {
		min-height: 100%;
	}
	.banner-info-right {
		margin: 10em 0 0 4em;
	}
}
@media (max-width:1024px){
	.banner-info h1 {
		font-size: 1.5em;
	}
	.banner-info input[type="text"], .banner-info input[type="email"], .banner-info textarea {
		font-size: 13px;
		padding: 10px 10px;
	}
	.banner-info textarea {
		min-height: 120px;
	}
	.banner-info input[type="submit"] {
		font-size: 14px;
		padding: 9px 0;
	}
	.banner-info-right {
		margin: 10em 0 0 1em;
	}
	.banner-info-right h2 {
		font-size: 1.3em;
	}
	.bg{
		background:url(../images/columbia-uni-camp.png) no-repeat -145px 0px;
		opacity:0.8;
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		z-index: 1;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		min-height: 100%;
	}
	.banner{
		position: relative;
		z-index: 2;
		min-height: 100%;
	}

	.nav .navig {
		right: 4%;
	}
	p.fugiat {
		width: 70%;
	}
	.banner-bottom{
		padding: 3em 0;
	}
	.banner-bottom-grid-right h5 {
		font-size: 1.3em;
		margin: 0 0 0.5em;
	}
}
@media (max-width:768px){
	.banner-left a {
		font-size: 2.5em;
	}
	.banner-info-left {
		padding: 1em;
	}
	.banner-info-right {
		width: 56%;
	}


	.bg{
		background:url(../images/columbia-uni-camp.png) no-repeat -315px 0px;
		opacity:0.8;
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		z-index: 1;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		min-height: 100%;
	}


	.banner{
		position: relative;
		z-index: 2;
		min-height: 100%;
	}
	.banner-bottom h3{
		font-size: 1.8em;
	}
	p.fugiat {
		width: 90%;
	}
	.banner-bottom h4 {
		font-size: 15px;
	}
	.banner-bottom-grid{
		margin: 2em 0 0;
	}
	.banner-bottom-grid-right,.about-grid-right {
		margin: 2em 0 0;
	}
}
@media (max-width:640px){
	.banner-info-right {
		width: 57%;
		margin: 3em 0 0 1em;
	}
	.banner-info input[type="text"], .banner-info input[type="email"], .banner-info textarea {
		padding: 6px 10px;
	}
	.banner-info textarea {
		min-height: 85px;
	}
	.banner-info input[type="submit"] {
		font-size: 13px;
		padding: 7px 0;
	}
	.banner-info-right h2 {
		font-size: 1.2em;
	}
	.banner-info h1 {
		font-size: 1.3em;
	}
	.banner {
		min-height: 100%;
	}
	.banner-left a {
		font-size: 2.3em;
	}
	.banner-bottom h3{
		font-size: 1.6em;
	}
	.banner-bottom, .services, .contact, .about, .what-we-do, .news, .customer, .team {
		padding: 2em 0;
	}
	p.fugiat {
		width: 100%;
	}
	.banner-bottom-grid-right h5 {
		font-size: 1.2em;
	}
}
@media (max-width:480px){
	.banner-info-left {
		float: none;
		width: 100%;
	}
	.banner-info-right {
		width: 100%;
		margin: 1em 0 0 0em;
		float: none;
	}
	.banner-left a {
		font-size: 2em;
	}
	.header {
		margin: 1em 0 0;
	}
	.nav .navig {
		margin: 1em 0 0;
	}


	.bg{
		background:url(../images/columbia-uni-camp.png) no-repeat -640px 0px;
		opacity:0.8;
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		z-index: 1;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		min-height: 100%;
	}


	.banner{
		position: relative;
		z-index: 2;
		min-height: 675px;
	}

	.banner-info h1 {
		font-size: 1.2em;
	}
	.banner-bottom h3{
		font-size: 1.4em;
	}
	.banner-bottom h4 {
		font-size: 13px;
	}
	.banner-bottom-grid-right h5 {
		font-size: 1em;
	}
	.banner-bottom-grid-right {
		margin: 1em 0 0;
	}
	.banner-wrap {
		padding: 0 0 2em;
	}
	.banner-bottom-grid{
		margin: 1em 0 0;
	}
}
@media (max-width:414px){
	.banner-info-right p {
		margin: 1em 0 1em;
	}
}
@media (max-width:320px){
	.banner-left a {
		font-size: 1.7em;
	}
	.nav .navig {
		background: url(../images/menu.png) no-repeat;
		background-size: 80%;
		margin: 0.8em 0 0;
	}
	.banner-info {
		margin: 3em 0 0;
	}
	.banner-info h1 {
		font-size: 1em;
	}
	.banner-info-left {
		padding: .7em;
	}
	.banner-info input[type="text"], .banner-info input[type="email"], .banner-info textarea {
		font-size: 12px;
	}
	.banner-info-right h2 {
		font-size: 1em;
	}
	.banner-info-right {
		margin: 1em 0 0;
	}
	.banner-info-right p {
		margin: .5em 0 1em;
		font-size: 13px;
	}
	.banner {
		background:url(../images/banner.png) no-repeat -780px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		min-height: 100%;
	}
	p.fugiat,.testimonials-grid-right1 p,.about-grid-left p,.news-pos p,.news-grid-left-top p, .about-grid-right p,.about-grid-right p,.what-we-do-grid p{
		font-size: 13px;
	}
	.banner-bottom h3{
		font-size: 1.3em;
	}
	.banner-bottom-grid-right{
		padding: 0 !important;
	}
	.banner-bottom-grid-right p {
		font-size: 13px;
		margin: 0 0 1em;
	}
}
